/* Hoja de estilo para el cálculo de números primos usando
   Web Workers.
*/

body {
  background-color: LightGray;
  color: Black;
  margin: 40px;
}

#resultado {
  background-color: Tomato;
  color: Yellow;
  padding: 20px;
  font-size: 150%;
}